<h1 style="color: white">Redefinir senha!</h1>
<p style="width: 450px;margin-top: 15px;"><b style="color: white">Se você quer redefinir a sua senha, clique no botão abaixo!</p>
	<p width="238" height="52" colspan="2" bgcolor="#AC4B45" style="
        font-size: 20px;
        text-align: center;
        color: #eae7d9;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
            -ms-border-radius: 3px;
             -o-border-radius: 3px;
                border-radius: 3px;"><a href="<?php echo Router::url('/admin/operators/new_password/'. $data['hash'], true) ?>" style="color: #eae7d9;font-size: 20px;text-decoration: none">REDEFINIR SENHA</a></p>