@import url("../fonts/LeagueGothicRegular.css");
@import url("../fonts/StagBold.css");
@import url("../fonts/SourceSansProSemibold.css");

.titulo h1{
  font-family: "LeagueGothicRegular";
  color: #C1453B;
  font-size: 55px;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 60px;
  float: none;
}
.linha1{
  border: 2px solid #C1453B;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 35px;
}
.linha1 p{
  font-size: 17px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 5px;
}
.coluna1{
  border: 2px solid #C1453B;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  margin-bottom: 35px;
}
.coluna2{
  border: 2px solid #688AB0;
  padding: 10px;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  font-size: 17px;
}
@media (max-width: 414px) {
  .coluna2{
    border: 2px solid #688AB0;
  }
  .coluna1{
    margin-right: 0px;
  }
}

.coluna1 li{
  list-style-type: none;
}
.coluna1 li p{
  list-style-type: none;
  padding-left: -15px;
}
.coluna1 p{
  font-size: 17px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 5px;
}
.coluna2 p{
  font-size: 17px;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.col-md-5half{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-5half{
    float: left;
    width: 40%;
  }
}

.footer{
	float: left;
	width: 100%;
	background-color: #4d4d4d;
	padding-top: 75px;
	padding-bottom: 60px;
	border-bottom: 40px solid #333333;

	.top, .bottom{
		float: left;
		width: 100%;
	}

	.left, .right{
		float: left;
		box-sizing: border-box;
	}

	.top{
		margin-bottom: 40px;
	}

	.left{
		width: 70%;
		padding-right: 20px;
	}

	.right{
		width: 30%;
		padding-left: 20px;
	}

	h3, p, li, a{
		color: #ffffff;
	}
	h3:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.8);
			margin: 20px auto 0;
	}

	p, li{
		font-family: SourceSansProSemibold;
	}

	ul{
		padding: 0;
		margin: 0;

		li{
			display: inline-table;
			vertical-align: top;
			// width: calc(50% - 25px);
			width:100%;
		}
	}

	p, ul{
		margin-bottom: 20px;
	}

	h3{

		span{
			display: inline-table;
			vertical-align: middle;
			margin-right: 5px;

			&.text{
				font-size: 30px;
				line-height: 30px;
				margin-right: 0;
			}
		}
	}

	p{
		font-size: 16px;
		line-height:21px;
	}

	p.mini, li{
		font-size: 14px;
	}

	a{
		text-decoration: none;
		border-bottom: 1px solid transparent;
		-moz-transition: 0.2s ease-in-out;
		-webkit-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		&:hover{
			border-bottom-color: #ffffff;
		}
	}
}

.btn-ingresso{
  width: 91%;
  position: absolute;
  left: 50%;
  margin-left: -224px;
  top: 50%;
  margin-top: -68px;
}
