body.blockScrolling {
    height: 100%;
    overflow: hidden;
}

#venus.button {
    margin-bottom: 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-image: none !important;
    white-space: nowrap !important;
    line-height: normal !important;
    text-decoration: none !important;
    color: white !important;
    font-size: 0.875rem !important;
    font-size: 14px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 0 !important;
    padding: 14px 45px !important;
    width: 220px !important;
    cursor: pointer !important;
    font-weight: bold !important;
    position: relative !important;
    -webkit-text-shadow: 0 1px #0091c9 !important;
    -moz-text-shadow: 0 1px #0091c9 !important;
    -ms-text-shadow: 0 1px #0091c9 !important;
    text-shadow: 0 1px #0091c9 !important;
}

#venus.button:hover {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

#venus.button:active {
    outline: 0 !important;
    background-image: none !important;
    border-bottom: 0 !important;
    border-top: 2px solid transparent !important;
    padding: 14px 45px 17px !important;
}

#venus.button:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

#venus.button .powered{
    display: block !important;
    font-size: 8px !important;
    position: absolute !important;
    color: rgb(0, 118, 160) !important;
    text-shadow: none !important;
    right: 5px !important;
    bottom: -15px !important;
}



#venus.button.blue{
    background: rgb(0,165,223) !important;
    border-bottom: 2px solid rgb(0,144,204) !important;
}

#venus.button.blue:hover{
    background: rgb(0,157,211) !important;
}

#venus.button.blue:active{
    border-bottom: none;
    background: rgb(0,157,211);
}

#venus.button.orange {
    -webkit-text-shadow: 0 1px #ec820a !important;
    -moz-text-shadow: 0 1px #ec820a !important;
    -ms-text-shadow: 0 1px #ec820a !important;
    text-shadow: 0 1px #ec820a !important;
    background: #fca311 !important;
    border-bottom: 3px solid #ec820a !important;
}

#venus.button.orange:hover {
    background: #fca81d !important;
}

#venus.button.orange:active {
    background: #fca81d !important;
    border-bottom: 0 !important;
}

.ingresse-widget-hide,
.ingresse-widget-hide:hover {
    position: fixed !important;
    top: 9px;
    right: 25px;
    border: none !important;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 100%;
    background: rgba(255,255,255,0.25);
    background-image: url(/styles/images/close.svg) !important;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    cursor: pointer;
    background-size: 20px !important;
    outline: none;
    box-shadow: none !important;
    z-index: 9999999999;
}

.ingresse-widget #cloak {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 9999999999;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 959px) {
    .ingresse-widget .button.hide {
        right: 0;
	    top: 0;
        background-size: 17.82px !important;
    }
    .ingresse-widget .button.hide:hover {
        right: 0;
        top: 0;
    }
}

