<div class="activity-indicator" ng-show="loading">
    <img src="images/loader.gif" alt="">
    <p>Carregando evento</p>
</div>

<div ng-hide="loading">
    <div class="headlight">
        <img ng-src="{{poster}}" alt="" class="poster">
        <h1 class="main-title">{{title}}</h1>
        <h2 class="sub-title">{{venue.name}}</h2>
        <img class="logo-ingresse" src="images/icon.png" alt="">
    </div>

    <!-- <div class="about" ng-bind-html="description" ng-hide="errorMessage"></div> -->

    <div class="error-block" ng-show="errorMessage">
        <p>Distribuição online de ingressos para a exibição The Art of the Brick, de Nathan Sawaya, em São Paulo, começará em breve.</p>
    </div>

    <div class="header-full" ng-show="errorMessage == false">
        <img src="images/topo-frida.jpg" alt="" class="image-header-full">
    </div>

    <div class="details" ng-show="errorMessage == false">
        <div class="info-01">
            <div class="cf row">
                <div class="image-holder"><img src="images/ico-1.png" alt="" class="image"></div>
                <div class="content">
                    <strong class="title">Quanto?</strong>
                    <p class="text">Entrada Gratuita</p>
                </div>
            </div>
            <div class="cf row">
                <div class="image-holder"><img src="images/ico-2.png" alt="" class="image"></div>
                <div class="content">
                    <strong class="title">Quando?</strong>
                    <p class="text">De terça a domingo, nos seguintes horários:</p>
                    <ul>
                        <li>Às 11h</li>
                        <li>Às 13h</li>
                        <li>Às 15h</li>
                        <li>Às 17h</li>
                    </ul>
                </div>
            </div>
            <div class="cf row">
                <div class="image-holder"><img src="images/ico-3.png" alt="" class="image"></div>
                <div class="content">
                    <strong class="title">Onde?</strong>
                    <p class="text">
                        Oca - Pavilhão Gov. Lucas Nogueira Garcez</br>
                        Av. Pedro Álvares Cabral, Portão 3 - Ibirapuera, São Paulo - SP
                    </p>
                </div>
            </div>
        </div>

        <div class="cf row">
            <div class="image-holder"><img src="images/ico-4.png" alt="" class="image"></div>
            <div class="content">
                <strong class="title">Ingressos</strong>

                <strong class="sub-title">Ingresso online</strong>
                <p class="text">
                    Evite filas, selecione o dia e horário para visitar a exposição, de forma rápida, prática e simples.
                </p>

                <button class="bt-warning" ng-click="scrollTo('.months')">Selecionar Data</button>

                <strong class="sub-title">direto no local do evento</strong>
                <p class="text">
                    Existe a opção de retirar seu ingresso presencialmente, a bilheteria funciona das 9h às 21h, e todos os dias às 9hs serão distribuidas senhas para visitar a exposição tanto para o mesmo dia da retirada, quanto para agendar outra data.
                </p>
                <br />
                <div class="row">
                    <img src="images/ico-5.png" alt="" class="image-warning" />
                    <p class="text">
                        OBS: O Número de ingressos para esse evento é LIMITADO
                    </p>
                </div>
                <div class="row">
                    <img src="images/ico-5.png" alt="" class="image-warning" />
                    <p class="text">
                        OBS: Sugerimos que chegue com antecedência para evitar longas filas, <br />
                        pois o evento está com uma grande procura.
                    </p>
                </div>
            </div>
        </div>

        <div class="cf row">
            <div class="image-holder"><img src="images/ico-6.png" alt="" class="image"></div>
            <div class="content">
                <strong class="title">Importante</strong>
                <p class="text">
                    A Retirada de ingressos tanto online, quanto no local é limitada à <span class="warning">NO MÁXIMO 
                    1 (um) INGRESSO POR CPF</span>
                </p>

                <img src="images/exemplo-4-ingressos-por-cpf.jpg" alt="" class="center-cpf">
            </div>
        </div>

        <div class="cf row">
            <div class="image-holder"><img src="images/ico-7.png" alt="" class="image"></div>
            <div class="content">
                <strong class="title">Dúvidas e perguntas</strong>
                <p class="text">
                    Ficou com alguma dúvida?<br />
                    Acesse o nosso <span class="blue">FAQ no canto interior direito</span> para esclarecer sua dúvida
                </p>
            </div>
        </div>
    </div>

    <div class="calendar-holder" ng-show="errorMessage == false">
        <h2 class="sub-title">Selecione o dia para visitar a exposição gratuitamente.</h2>
        <div class="months">
            <button
                  class="round-button"
                  mwl-date-modifier
                  date="vm.viewDate"
                  decrement="vm.calendarView">
                  <i class="venus icon-arrow-left"></i>
            </button>
            <h3 class="section-title">{{ vm.calendarTitle }}</h3>
            <button
                  class="round-button"
                  mwl-date-modifier
                  date="vm.viewDate"
                  increment="vm.calendarView">
                  <i class="venus icon-arrow-right"></i>
            </button>
        </div>

        <div class="calendar" ng-hide="errorMessage">
            <mwl-calendar
                events="vm.events"
                view="vm.calendarView"
                view-date="vm.viewDate"
                view-title="vm.calendarTitle"
                cell-modifier="vm.cellModifier(calendarCell)"
                on-view-change-click="vm.viewChangeClicked(calendarNextView)"
                on-event-click="modalOpen(calendarEvent)"
            >
            </mwl-calendar>
        </div>
    </div>

    <div id="overlay" ng-click="modalClose()"></div>
    <div class="modal" ng-class="{ 'sender': !emailSent }">
        <div class="modal-header">
            <span class="text">Solicitar Cortesia</span>
            <button class="close" ng-click="modalClose()">Fechar</button>
        </div>
        <div class="modal-content">
            <form class="venus field" ng-class="{ 'isActive': !emailSent }">
                <label for="">CPF</label>
                <input class="venus" type="tel" ng-model='cpf' ui-mask="999.999.999-99" required>
                <label for="">Seu e-mail</label>
                <input type="text" placeholder="Digite seu e-mail" ng-model="email[0]" ng-class="{ 'error': hasError }" class="i-text" required/>
                <label for="">Amigo 01</label>
                <input type="text" placeholder="Digite seu e-mail" ng-model="email[1]" ng-class="{ 'error': hasError }" class="i-text" required/>
                <label for="">Amigo 02</label>
                <input type="text" placeholder="Digite seu e-mail" ng-model="email[2]" ng-class="{ 'error': hasError }" class="i-text" required/>
                <label for="">Amigo 03</label>
                <input type="text" placeholder="Digite seu e-mail" ng-model="email[3]" ng-class="{ 'error': hasError }" class="i-text" required/>

                <button class="venus button" ng-click="sendFreepass(selectedTicket, email, cpf)" ng-disabled="isSendingFreepass">
                    <span ng-hide="isSendingFreepass">Enviar</span>
                    <span ng-show="isSendingFreepass">enviando...</span>
                </button>
            </form>
            <div class="send" ng-class="{ 'isActive': emailSent }">
                <p class="texto">Pronto! </br>Dentro de alguns instantes, as instruções para acessar seu ingresso chegarão no email <i>{{ email.join(", ") }}</i></p>
                <!-- <strong class="title">Deseja solicitar outro ingresso?</strong>
                <div class="row">
                    <button class="bt-modal" ng-click="otherTicket()">Sim</button>
                    <button class="bt-modal" ng-click="modalClose()">Não</button>
                </div> -->
                <div class="row">
                    <img src="images/ico-5.png" alt="" class="image-warning" />
                    <span class="warning">Obs: São permitidos apenas 1 (um) ingressos por CPF</span>
                </div>
            </div>
            <div class="send" ng-class="{ 'isActive': limitExceded }">
                <div class="row">
                    <img src="images/ico-5.png" alt="" class="image-warning" />
                    <span class="warning">Obs: São permitidos apenas 1 (um) ingressos por CPF</span>
                </div>
            </div>
        </div>
    </div>

    <div class="venue">
        <h2 class="sub-title">Mapa</h2>
        <!-- <p class="title">{{venue.name}}</p>
        <p class="address">{{venue.street}} - {{venue.city}} - {{venue.state}}</p>-->
        <a target="_blank" href="https://www.google.com/maps/place/{{venue.street}} - {{venue.city}} - {{venue.state}}">
            <div class="map" style="background-image: url({{venue.mapUrl}});">
            </div>
        </a> 
    </div>

    <div class="float-helper">
        <span class="text">Esclareça suas dúvidas</span>
        <img src="images/seta.jpg" alt="" class="">
    </div>
</div>
