@font-face {
    font-family: 'StagMedium';
    src: url('fonts/StagBook.eot');
    src: url('fonts/StagBook.eot') format('embedded-opentype'),
         url('fonts/StagBook.woff2') format('woff2'),
         url('fonts/StagBook.woff') format('woff'),
         url('fonts/StagBook.ttf') format('truetype'),
         url('fonts/StagBook.svg#StagBook') format('svg');
}
