@font-face {
    font-family: 'StagMedium';
    src: url('fonts/StagLight.eot');
    src: url('fonts/StagLight.eot') format('embedded-opentype'),
         url('fonts/StagLight.woff2') format('woff2'),
         url('fonts/StagLight.woff') format('woff'),
         url('fonts/StagLight.ttf') format('truetype'),
         url('fonts/StagLight.svg#StagLight') format('svg');
}
