@font-face {
    font-family: 'StagSemibold';
    src: url('fonts/StagSemibold.eot');
    src: url('fonts/StagSemibold.eot') format('embedded-opentype'),
         url('fonts/StagSemibold.woff2') format('woff2'),
         url('fonts/StagSemibold.woff') format('woff'),
         url('fonts/StagSemibold.ttf') format('truetype'),
         url('fonts/StagSemibold.svg#StagSemibold') format('svg');
}
