.row.infos{
	position: relative;
    margin: -5px 0;
	background: url(../images/bg-infos.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 60px 0;
	&:before{
		content: '';
		position: absolute;
		z-index: 0;
		top: 5px;
		left: 4px;
		display: block;
		width: calc(100% - 8px);
		height: calc(100% - 10px);
		box-sizing: border-box;
		border: 1px solid rgba(255, 255, 255, 0.8);
	}

	.container{
		position: relative;
		z-index: 1;
	}

	h2 {
		display: inline-block;
		position: relative;
		color: #fff;
		font-family: StagBold;
		font-size: 2.2vw;
		margin: 0 0 20px;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.8);
			margin: 20px auto 0;
		}

		@media only screen and (max-width: 1600px){
			font-size: 40px;
		}
	}

	p {
		text-align: center;
		font-family: StagBold;
		font-size: 1.7vw;
		color: #fff;
		margin: 0 0 0;

		@media only screen and (max-width: 1600px){
			font-size: 30px;
		}
	}
}
