.content{
	.container{
		.row.audioguia {
			p.subtitle {
				margin-bottom: 30px;
			}
		}
	}
}

.tickets-container{
	background-image: url(../images/img_08.jpg);
	background-size: 100% 100%;
	padding-top: 15px;
	padding-bottom: 25px;

	h3,
	p,
	div {
		color: #fff;
		text-align: center;
	}

	.half-wrapper {
		max-width: 935px;
		margin: 0 auto;

		span.label {
			font-size: 30px;
			font-family: "StagBold";
			letter-spacing: 2px;
		}

		span.valor {
			font-size: 26px;
			font-family: "SourceSansProSemibold";
		}
	}

	.col-12 hr {
	    width: 85%;
	    border: 1px solid rgba(255, 255, 255, 0.28);
	}

	small {
	    font-size: 16px;
	    font-family: "SourceSansProSemibold";
	    display: block;
	    margin: 0 0 50px 0;
	}

	p {
		margin: 0;
		font-family: 'SourceSansProSemibold';
	}
}


.wrapper.btn-comprar {

	margin: 50px auto;

	.col-4{
		text-align: center;
		padding: 0;
		hr {
			border: 1px solid rgba(204, 204, 204, 0.5);
			margin-top: 70px;
			width: 90%;
		}

		.bt-ingressos {
		    position: relative;
		    width: 230px;
		    height: 100px;
		    margin: 0 auto;
		    background-image: url(../images/bg_lego_blue.png);

		    a.btn {
				text-align: center;
			    display: block;
			    color: #fff;
			    text-decoration: none;
			    padding: 50px 10px 45px 10px;
			    font-family: "StagBold";
			    font-size: 20px;
			    letter-spacing: 2px;
			}
		}
	}
}

.row.social{
	background-image: url('../images/bg_block.jpg');
	padding: 20px 0;

	h2 {
		color: #fff;
		font-size:40px;
	}

	.col.col-6{
		text-align: center;

		p {
			text-align: center;
			a {
				font-family: "StagBold";
				font-size: 30px;
				color: #fff;
				text-align: center;
				text-decoration: none;
				letter-spacing: 2px;
			}
		}

		img{
		    width: 80%;
		    height: auto;
		    border: 1px solid #fff;
		    padding: 5px;
		}
	}
}

.row

.gradient-bg {
	position: relative;
	width: 95%;
	height: 1px;
	margin: 15px auto 15px auto;

	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 18%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 52%, rgba(255,255,255,0.5) 62%, rgba(255,255,255,0.5) 72%, rgba(255,255,255,0.5) 82%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(18%, rgba(255,255,255,0.5)), color-stop(30%, rgba(255,255,255,0.5)), color-stop(40%, rgba(255,255,255,0.5)), color-stop(52%, rgba(255,255,255,0.5)), color-stop(62%, rgba(255,255,255,0.5)), color-stop(72%, rgba(255,255,255,0.5)), color-stop(82%, rgba(255,255,255,0.5)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 18%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 52%, rgba(255,255,255,0.5) 62%, rgba(255,255,255,0.5) 72%, rgba(255,255,255,0.5) 82%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 18%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 52%, rgba(255,255,255,0.5) 62%, rgba(255,255,255,0.5) 72%, rgba(255,255,255,0.5) 82%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 18%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 52%, rgba(255,255,255,0.5) 62%, rgba(255,255,255,0.5) 72%, rgba(255,255,255,0.5) 82%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 18%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 52%, rgba(255,255,255,0.5) 62%, rgba(255,255,255,0.5) 72%, rgba(255,255,255,0.5) 82%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

#toggle {
	position: absolute;
	right: 10px;
	bottom: 30px;
	z-index: 3;
	display: none;

	ul {
		li {
		    list-style: none;
		    background-color: #000;
		    width: 30px;
		    height: 5px;
		    margin: 5px 0;
		    border-radius: 100px;
	   }
   }
}

div#banner-mobile {
	display: none;
	margin-top: 120px;
	text-align: center;
	background-image: url(../images/bg_header.jpg);
	margin-bottom: 50px;

	img {
		margin: 0 auto;
	}
}

nav#menu {
	a{
		&:hover {
		color: #bdbdbd
		}
	}
}

@media only screen and (max-width: 1023px){

	.footer {
		.right {
			padding: 0;
			margin: 0 0 30px 0;
		}

		.left {
			padding: 0;
			margin: 0 0 30px 0;
		}

	}

	.apoio {
		ul {
			text-align: center !important;
		}
	}

	.patrocinio {
		ul {
			text-align: center !important;
		}
	}

	.wrapper.btn-comprar {
		hr {
			display: none;
		}

		.col-4{
			width: 100%
		}
	}

	.row, .divisao {
		margin: 0 !important;
	}

	.col{
		float: none;
		width: 95%;
		margin: 0 auto !important;
		padding: 10px !important;
	}

	p {
		font-size: 16px;
	}

	p.subtitle {
		font-size: 20px;
	}

	h3, h2 {
		margin: 0 !important;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
		text-align: center;
		line-height: 25px;
	}

	img {
		width: 70%;
	}

	iframe{
		width: 95%;
		height: auto;
	}

	.row.infos{
		h2 {
			padding: 15px 0;
			font-size: 24px;
		}

		p{
			font-size: 20px;
		}
	}

	.row.social{
		h2 {
			padding: 15px 0;
			font-size: 24px;
		}
	}

	.row.audioguia {
		p.subtitle {
			margin: 15px 0;
		}
	}

	.footer {

		ul {
		    display: table;
		    margin: 0 auto;

			li {
				width: auto !important;
				display: block;
			}
		}

		.left {
			float: none;
			width: 100%;

			p{
				text-align: center;
			}
		}

		.right {
			float: none;
			width: 100%;

			p {
				text-align: center;
			}
		}
	}

	.tickets-container{
		p {
			margin: 0 !important;
		}

		small {
			margin: 0 !important;
		}
	}
}

@media only screen and (max-width: 850px){

	h1#logo { width: 85% !important; }

	#toggle { display: block; }

	nav#menu {
		position: absolute;
		right: 0;
		top: 70px;
		width: 100%;
		height: 100%;
		display: none;

		ul {

			background-color: #fff;
			width: 100%;
		    -webkit-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.4);
		    -moz-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.4);
		    box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.4);

			li {
				display: block !important;
				margin: 15px;

				a {
					font-size: 30px;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px){
	div#banner {
		display: none;
	}

	div#banner-mobile {
		display: block;

		img {
			width: 100%;
		}
	}

	.bt-compre-ingresso {
	    position: relative;
	    margin: 0 auto;
	    margin-top: 20px;
	    width: 310px;
	    height: 96px;
	    left: 0px;

		a {
		    font-size: 22px;
    		padding-top: 28px;
		}
	}
}
