.footer{
	float: left;
	width: 100%;
	background-color: #4d4d4d;
	padding-top: 75px;
	padding-bottom: 60px;
	border-bottom: 40px solid #333333;

	.top, .bottom{
		float: left;
		width: 100%;
	}

	.left, .right{
		float: left;
		box-sizing: border-box;
	}

	.top{
		margin-bottom: 40px;
	}

	.left{
		width: 70%;
		padding-right: 20px;
	}

	.right{
		width: 30%;
		padding-left: 20px;
	}

	h3, p, li, a{
		color: #ffffff;
	}
	h3:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.8);
			margin: 20px auto 0;
	}

	p, li{
		font-family: SourceSansProSemibold;
	}

	ul{
		padding: 0;
		margin: 0;

		li{
			display: inline-table;
			vertical-align: top;
			// width: calc(50% - 25px);
			width:100%;
		}
	}

	p, ul{
		margin-bottom: 20px;
	}

	h3{

		span{
			display: inline-table;
			vertical-align: middle;
			margin-right: 5px;

			&.text{
				font-size: 30px;
				line-height: 30px;
				margin-right: 0;
			}
		}
	}

	p{
		font-size: 16px;
		line-height:21px;
	}

	p.mini, li{
		font-size: 14px;
	}

	a{
		text-decoration: none;
		border-bottom: 1px solid transparent;
		-moz-transition: 0.2s ease-in-out;
		-webkit-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		&:hover{
			border-bottom-color: #ffffff;
		}
	}
}
