.partners{
	background: url("../images/partners/bg.jpg") left top repeat;
	// padding-top: 95px;
	padding-top:15px;

	h3{
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		//text-transform: uppercase;
		margin-bottom: 35px !important;
		&:after{
			content: '';
			display: block;
			width: 100%;
			max-width: 320px;
			border-bottom: 1px solid #646464;
			margin: 15px auto 0;
		}
	}

	ul{
		max-width: 700px;
		text-align: center;
		padding: 0;
		margin: 0 auto 75px;

		li{
			display: inline-table;
			vertical-align :middle;
			height: 85px;
			margin: 0 10px;

			img{
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin: 0 auto;
			}
		}
	}

	.table{
		height: 100%;
		width: 100%;
		display: table;
		table-layout: fixed;

		.v-align{
			display: table-cell;
			vertical-align: middle;
		}
	}

	img{
		width: auto;
		display: block;
	}

	.patrocinio, .apoio{

		ul{
			text-align: center;

			li{
				max-height: 200px;
				height: auto;
			}
		}
	}

	.producao{

		ul{

			li{
				width: calc(50% - 25px);
			}
		}
	}

	.patrocinio, .apoio, .realizacao{

		ul{

			li{
				width: calc(33.3333% - 30px);
			}
		}
	}

	@media only screen and (max-width: 1400px){
		h3{
			font-size: 26px;
			line-height: 26px;
		}
	}
}
