@import url('../fonts/LeagueGothicRegular.css');
@import url('../fonts/StagBold.css');
@import url('../fonts/SourceSansProSemibold.css');

@import "sprites";

body, html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container{
  width: 95%;
  max-width: 1700px;
  margin: 0 auto;
}

.content > .container > .row{
    margin: 0 0 50px;
}

.row{
    margin: 0;
}

.col + .col{
    box-sizing: border-box;
    margin: 0;
}

.col{
    &:nth-child(1n){
      padding-right: 25px;
    }
    &:nth-child(2n){
      padding-left: 25px;
      padding-right: 0;
    }
    &:nth-child(3n){
      padding-left: 25px;
      padding-right: 0;
    }
    &.col-12{
      padding: 0;
    }
}

.wrapper {
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0px 0;
}

// div.tickets-container.wrapper.tickets .border-l {
//     border-left: 1px solid rgba(255, 255, 255, 0.32);
//     padding-left: 25px;
// }
div.tickets-container.wrapper.tickets .border-l {
  border-right: 3px solid #e8e8e8;
  padding: 30px 30px;
  background: #e0e0e0;
}
div.tickets-container.wrapper.tickets p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

div.tickets-container.wrapper.tickets p span.subtitle {
    font-size: 20px;
}

div.tickets-container.wrapper.tickets p small {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

div.tickets-container.wrapper.tickets p span.bold {
    font-family: "StagBold";
    letter-spacing:1px;
}

div.tickets-container.wrapper.tickets p span.subtitle {
    font-size: 20px;
}

div.tickets-container.wrapper.tickets ul.info-list {
    padding: 0 0 0 15px;
    margin-top:0px;
}

div.tickets-container.wrapper.tickets ul.info-list li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

.tickets-container small {
    font-size: 16px;
    font-family: "SourceSansProSemibold";
    display: block;
    margin: 0 0 30px 0;
}

.tickets-container p {
    margin: 0;
    font-family: 'SourceSansProSemibold';
}

header.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  height: 120px;

  #logo{
    width: 33%;
    max-width: 500px;

    img{
      width: 100%;
    }
  }
}

h1 {
  float: left;
}

h2 {
  font-size: 3.7vw;
  word-spacing: 1.4vw;
  text-transform: uppercase;
  text-align: center;

  @media only screen and (min-width: 1600px){
    font-size: 60px;
    word-spacing: 23px;
  }
}

h3 {
  font-size: 2vw;
  text-align: justify;
  word-spacing: 1vw;
  line-height: 45px;
  margin: 0 !important;

  @media only screen and (min-width: 1600px){
    font-size: 32px;
    word-spacing: 5px;
  }
}

h2, h3 {
  font-family: "StagBold";
  margin: 30px 0;
  letter-spacing: 2px;
}

p {
  font-size: 1.2vw;
  font-family: "SourceSansProSemibold";
  text-align: justify;

  &.subtitle {
    font-family: "SourceSansProSemibold";
    font-size: 2.2vw;
    margin: 0;
    text-align: center;
  }

  @media only screen and (min-width: 1600px){
    font-size: 22px;

    &.subtitle{
      font-size: 35px;
    }
  }
}

.row.social .btn-facebook {
    margin-right: 45px;
    display: inline-block;
}
.row.social .btn-lego {
    position: relative;
    display: inline-block;
    width: 302px;
    height: 87px;
    background-image: url(../images/bg-bt-branco.png);
    background-size: 100%;
    background-repeat:no-repeat;
    margin-left: 100px;
}
@media (max-width: 768px) {
  .row.social .btn-lego {
    margin-left:20px;
  }
  .media-hide{
    display: none;
  }
}


.no-bg{
  background-image:none!important;
}

.row.social {

}

.row.social .btn-facebook .wrap {
    margin-top: 27px;
}

.wrap img{
  width: 15%;
  float: left;
  margin-left: 40px;
  margin-right:10px;
}


nav#menu {
  padding-top: 30px;

  ul {
    margin-right: 0;
    padding: 0;
    float: right;

    li {
      display: inline-block;
      padding: 0px 15px;

      a {
        font-family: "LeagueGothicRegular";
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2.4vw;
        color: #989898;
      }
    }
  }

  @media only screen and (min-width: 1500px){

    ul{

      li{

        a{
          font-size: 38px;
        }
      }
    }
  }
}

#banner {
  position: relative;
  width: 100%;
  max-width: 1920px;
  max-height: 960px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;

  img {
    width: 100%;
  }
}

.divisao {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
  background-image: url(../images/division.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  margin-top: -20px;
  margin-bottom: 30px;
}

.bt-compre-ingresso {
  position: absolute;
  bottom: 75px;
  right: 100px;
  width: 460px;
  height: 76px;
  padding-top: 30px;
  text-align: center;
  // background-image: url(../images/bg_lego_blue.png);

  a {
    color: #fff;
    text-decoration: none;
    font-size: 38px;
    font-family: StagBold;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.text-center {
  text-align: center;
}

span.lego {
  text-transform: uppercase;
}

.row.margin {
  margin: 60px 0;
}

.vcenter {
  display: inline-table;
  vertical-align: middle;
  float: none;
}

@media only screen and (max-width: 1360px){
  .bt-compre-ingresso {
    width: 340px;
    padding: 0px;
    right: 20px;
    bottom: 100px;
    box-sizing: border-box;

    a {
      font-size: 18px;
      padding-top: 0px;
    }
  }
}

.comprar{
  img{
    width: 89%;
    float: left;
    margin-top: -50px;
    margin-bottom: 20px;
  }
}

.content-comprar-ingresso{
  position: absolute;
  top: 15px;
  right: 40px;
  width: 19%;
  text-align: center;
}

.content-comprar-ingresso img{
  width:100%;
}

.content-social{
  width:90px;
  margin:15px auto;
}

.social-icon{
  width:30px;
  float: left;
  margin-left:10px;
  img{
    width:100%;
  }
}

.margem-comprar{
  margin-top:150%;
}

.content-producao{
  width:40%;
  margin:10px auto;
  img{
    width:100%;
  }
}
.altura-box{
  min-height:833px;
}

.btn-content{
  width:70%;
  margin:0px auto;
}

.asterisco{
  font-size: 22px;
}

@import "partners";
@import "infos";
@import "footer";
