@font-face {
    font-family: 'StagBold';
    src: url('fonts/StagBold.eot');
    src: url('fonts/StagBold.eot') format('embedded-opentype'),
         url('fonts/StagBold.woff2') format('woff2'),
         url('fonts/StagBold.woff') format('woff'),
         url('fonts/StagBold.ttf') format('truetype'),
         url('fonts/StagBold.svg#StagBold') format('svg');
}
