@font-face {
    font-family: 'StagMedium';
    src: url('fonts/StagMedium.eot');
    src: url('fonts/StagMedium.eot') format('embedded-opentype'),
         url('fonts/StagMedium.woff2') format('woff2'),
         url('fonts/StagMedium.woff') format('woff'),
         url('fonts/StagMedium.ttf') format('truetype'),
         url('fonts/StagMedium.svg#StagMedium') format('svg');
}
