body { padding-top: 70px; padding-bottom: 70px; }

.breadcrumb .pull-right:before
{
    content: '';
}

.actions
{
    width: 1px;
    white-space: nowrap;
}

.alert span
{
    font-size: 20px;
}

/* grid */

.grid .panel-body
{
    padding: 0px !Important;
}

.grid .panel-footer
{
    padding: 3px !Important;
}

.grid .pagination
{
    margin: 0px !Important;
}

.grid .table
{
    margin-bottom: 0px !Important;
    border: 0px !Important;
}

.th div
{
    line-height: 0;
}

.grid thead a
{
    display: block !Important;
    color: #000 !important;

}

.grid thead a:hover
{
   text-decoration:none;
}

.grid .panel-heading a
{
    margin-left: 5px;
}

.form-control-static
{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.form-group .glyphicon
{
    margin-left: 3px;
}

.label
{
    font-size: 85% !Important;
}

.modal .radio input[type="radio"], .modal .radio-inline input[type="radio"], .modal .checkbox input[type="checkbox"],.modal .checkbox-inline input[type="checkbox"] {
    margin-left: 0px !Important;
}

.multiselect-container
{
    width: 100%;
}

.multiselect-container a
{
    padding-left: 30px !important;
}

.panel-heading[data-toggle="collapse"]
{
    cursor: pointer;
}



/* Jquery */

.ui-datepicker
{
    width: auto !Important;
}

.ui-widget
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !Important;
    font-size: 14px !Important;
}

.ui-autocomplete-loading {
    background: white url('smoothness/images/ui-anim_basic_16x16.gif') right center no-repeat !Important;
}

.btn-group
{
    display: block !important;
    width: 100%;
}

.btn-group .btn {
    width: 100% !important;
    float: none;
}

.wysihtml5-toolbar .btn-group .btn-default {
    width: auto !important
}

ul.wysihtml5-toolbar {
    border: 1px solid rgb(204, 204, 204);
    padding: 5px 0 0 5px !important;
    /*background-color: #f8f8f8*/
    border-radius: 4px 4px 0 0
}

ul.wysihtml5-toolbar > li {
    margin: 0 5px 5px 0 !important
}

.form-group iframe {
    border-top: none !important;
    border-radius: 0 0 4px 4px !important
}

.navbar-brand {
	/*height: inherit !important;*/
}