<div class="users form">
<?php echo $this->Form->create('User', array('novalidate' => true)); ?>
	<fieldset>
		<legend><?php echo __('Add User'); ?></legend>
	<?php
		echo $this->Form->input('name');
		echo $this->Form->input('email');
		echo $this->Form->input('street');
		echo $this->Form->input('city');
		echo $this->Form->input('state');
		echo $this->Form->input('document');
		echo $this->Form->input('gender');
		echo $this->Form->input('instagram');
		echo $this->Form->input('birthday');
		echo $this->Form->input('password');
		echo $this->Form->input('active');
		echo $this->Form->input('type');
		echo $this->Form->input('hash');
		echo $this->Form->input('ingresse_id');
		echo $this->Form->input('ingresse_token');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Users'), array('action' => 'index')); ?></li>
	</ul>
</div>
