<?php
$url = 'http://www.festaoscar.com.br/dist/#/client/festaoscar.com.br/event/16503/passCode/' . $data['passcode'];
$urlHml = 'https://localhost:9000/#/client/localhost/event/16229/passCode/' . $data['passcode'];
?>
<tr>
	<td colspan="9" width="563" height="71" style="text-align: center;">
<a href="<?php echo $urlHml; ?>" style="
text-decoration: none;
color: #FFDE5F;
font-size: 30px;
font-family: sans-serif;
">COMPRAR INGRESSO</a>
</td>
</tr>
<tr>
	<td colspan="9" width="563" height="46"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_08.jpg" width="563" height="46" alt="" title="" style="display:block; border:0px"></td>
</tr>
<tr>
	<td colspan="13" width="650" height="97"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_09.png" width="650" height="97" alt="" title="" style="display:block; border:0px"></td>
</tr>
<tr>
	<td rowspan="3" width="34" height="198"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_10.png" width="34" height="198" alt="" title="" style="display:block; border:0px"></td>
	<td colspan="6" width="300" height="96" style="
	   background-color: white;
	   text-align: center;
	   font-family: sans-serif;
	   font-size: 17px;
	   color: dimgrey;
	   font-weight: 100;
	">
	 <p>Você pode convidar seus amigos<br> depois de realizar sua compra.</p>
	</td>
	<td colspan="6" rowspan="2" width="316" height="123"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_12.png" width="316" height="123" alt="" title="" style="display:block; border:0px"></td>
</tr>
<tr>
	<td colspan="6" width="300" height="27"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_13.png" width="300" height="27" alt="" title="" style="display:block; border:0px"></td>
</tr>
<tr>
	<td width="1" height="75"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_14.png" width="1" height="75" alt="" title="" style="display:block; border:0px"></td>
	<td colspan="6" width="302" height="75" style="
text-align: center;
font-size: 29px;
font-family: sans-serif;
">
<a href="http://www.festaoscar.com.br/" style="
text-decoration: none;
color: #FFDE5F;
">CONVIDAR</a>
</td>
	<td colspan="5" width="313" height="75"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_16.png" width="313" height="75" alt="" title="" style="display:block; border:0px"></td>
</tr>
