<?php
$url = 'http://www.festaoscar.com.br/dist/#/client/festaoscar.com.br/event/16503/passCode/' . $data['passcode'];
$urlHml = 'https://localhost:9000/#/client/localhost/event/16229/passCode/' . $data['passcode'];
?>

<tr>
    <td colspan="4" width="163" height="38"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_08.png" width="163" height="38" alt="" title="" style="display:block; border:0px"></td>
    <td colspan="11" width="328" height="38" style="
text-align: center;
font-family: sans-serif;
color: #FFD534;
font-size: 27px;
"><a href="<?php echo $url; ?>" style="
text-decoration: none;
color: #FFD534;
font-family: sans-serif;
">COMPRAR INGRESSO</a></td>
    <td colspan="2" width="159" height="38"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_10.png" width="159" height="38" alt="" title="" style="display:block; border:0px"></td>
  </tr>
  <tr>
    <td colspan="17" width="650" height="163"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_11.png" width="650" height="163" alt="" title="" style="display:block; border:0px"></td>
  </tr>
  <tr>
    <td width="44" height="87"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_12.png" width="44" height="87" alt="" title="" style="display:block; border:0px"></td>
    <td colspan="9" width="281" height="87" style="
text-align: center;
font-family: sans-serif;
font-size: 23px;
background-color: white;
">Você pode convidar seus amigos depois de realizar sua compra.</td>
    <td colspan="7" width="325" height="87"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_14.png" width="325" height="87" alt="" title="" style="display:block; border:0px"></td>
  </tr>
  <tr>
    <td colspan="17" width="650" height="53"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_15.png" width="650" height="53" alt="" title="" style="display:block; border:0px"></td>
  </tr>
  <tr>
    <td colspan="3" width="97" height="29"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_16.png" width="97" height="29" alt="" title="" style="display:block; border:0px"></td>
    <td colspan="4" width="178" height="29" style="
font-family: sans-serif;
text-align: center;
color: #FFD534;
font-size: 25px;
"><a href="http://www.festaoscar.com.br/" style="text-decoration: none;color: #FFD534;">CONVIDAR</a></td>
    <td colspan="10" width="375" height="29"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_18.png" width="375" height="29" alt="" title="" style="display:block; border:0px"></td>
  </tr>