body {
  height: 100%;
  font-size: 16px;
  color: #333333;
}

#content {
  width: 100%;
  background-position: center;
  height: 100%;
  position: absolute;
  background-size: cover;
  margin-top: -20px;
}