<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><?php echo $title_for_layout; ?></title>
    </head>
    <body>
        <table cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeee" width="100%" style="background:#eeeeee">
            <tbody>
                <tr>
                    <td>
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica,Arial,sans-serif">
                            <tbody>

                                <tr>
                                    <td width="600" align="left" style="font-size:0;line-height:0;min-height:40px" height="40">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td width="600" align="left">
                                        <table cellpadding="0" cellspacing="0" width="100%" border="0" bgcolor="#336600" style="background:#336699">
                                            <tbody>
                                                <tr>
                                                    <td colspan="4" align="center" height="100">
                                                        <h1><a href="<?php echo Router::url('/', true) ?>" style="color: white"><?php echo Configure::read("Application.title")?></a></h1>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" height="200" width="600" style="padding: 10px">
                                                        <?php echo $this->fetch('content'); ?>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="600" bgcolor="#aaaaaa" align="left" style="background:#aaaaaa;min-height:30px;border:1px solid #aaaaaa;border-bottom:none" height="20">
                                        <table cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>

                                                <tr>
                                                    <td colspan="4" width="600" align="left" style="min-height:10px" height="10">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td width="20">&nbsp;</td>
                                                    <td width="480">
                                                        <p style="color:#ffffff;font-size:11px;font-family:Arial,Verdana,sans-serif;margin:0;padding:0">
                                                            Caso não consiga visualizar este email, <a href="#" style="color:#ffffff;font-weight: bold" target="_blank">clique aqui.</a>
                                                        </p>
                                                        <p style="color:#ffffff;font-size:11px;font-family:Arial,Verdana,sans-serif;margin:0;padding:0">
                                                            <a href="#" style="color:#ffffff;font-weight:bold" target="_blank">Clique aqui</a> se você não quer mais receber este email.
                                                        </p>
                                                    </td>
                                                    <td width="80">
                                                        <a href="<?php echo Router::url('/', true) ?>" target="_blank" style="color:#ffffff;font-weight: bold"><?php echo Configure::read("Application.title")?></a>
                                                    </td>
                                                    <td width="20">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td colspan="4" width="600" align="left" style="min-height:10px" height="10">&nbsp;</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="600" align="left" style="font-size:0;line-height:0;min-height:40px" height="40">&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>