<html>
<head>
  <title>Óscar Party</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="background-color: #15141A ;">
  <table width="100%">
    <tr>
      <td></td>
      <td width="650px">
        <table id="Table_01" width="650" height="1886" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td colspan="17" width="650" height="566"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_01.png" width="650" height="566" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="17" width="650" height="94" style="
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 100;
">A <strong>Óscar</strong> é uma festa apenas para convidados.<br> Você pode comprar seu ingresso e convidar seus amigos<br> depois de realizar sua compra.</td>
          </tr>
          <tr>
            <td colspan="17" width="650" height="43"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_03.png" width="650" height="43" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="2" width="51" height="59"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_04.png" width="51" height="59" alt="" title="" style="display:block; border:0px"></td>
            <td colspan="14" width="549" height="59" style="
    text-align: center;
    color: white;
    font-family: sans-serif;
"><strong style=" font-size: 25px; color: #FFD638;">11 de junho</strong><br>Estância JC</td>
            <td width="50" height="59"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_06.png" width="50" height="59" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="17" width="650" height="75"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_07.jpg" width="650" height="75" alt="" title="" style="display:block; border:0px"></td>
          </tr>

				<?php echo $this->fetch('content'); ?>

		<tr>
            <td colspan="17" width="650" height="200"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_19.png" width="650" height="200" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="5" width="207" height="29"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_20.png" width="207" height="29" alt="" title="" style="display:block; border:0px"></td>
            <td colspan="9" width="235" height="29" style="
    text-align: center;
    color: white;
    font-family: sans-serif;
"><a href="http://www.festaoscar.com.br" style="text-decoration: none; color: #FFFFFF">www.<strong style="color: #FFD534;font-size: 22px;">festaoscar</strong>.com.br</a></td>
            <td colspan="3" width="208" height="29"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_22.png" width="208" height="29" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="17" width="650" height="73"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_23.png" width="650" height="73" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="6" width="240" height="40"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_24.png" width="240" height="40" alt="" title="" style="display:block; border:0px"></td>
            <td colspan="2" width="48" height="40">
				<a href="https://www.facebook.com/oscartoparty/">
					<img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_25.png" width="48" height="40" alt="" title="" style="display:block; border:0px">
				</a></td>
            <td width="16" height="40"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_26.png" width="16" height="40" alt="" title="" style="display:block; border:0px"></td>
            <td colspan="2" width="43" height="40">
				<a href="https://www.instagram.com/oscartoparty/">
					<img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_27.png" width="43" height="40" alt="" title="" style="display:block; border:0px">
				</a>
			</td>
            <td width="16" height="40"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_28.png" width="16" height="40" alt="" title="" style="display:block; border:0px"></td>
            <td width="42" height="40">
				<a href="https://www.youtube.com/channel/UCPZTi4jFJAknF1_EdZDP1dw">
					<img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_29.png" width="42" height="40" alt="" title="" style="display:block; border:0px">
				</a>
			</td>
            <td colspan="4" width="245" height="40"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_30.png" width="245" height="40" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="17" width="650" height="180"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/news_31.png" width="650" height="180" alt="" title="" style="display:block; border:0px"></td>
          </tr>
          <tr>
            <td colspan="17" width="650" height="156" style="
    background-color: white;
    font-family: sans-serif;
    color: #9E9E9E;
    font-size: 11px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
"><p style="
    margin: 5px 0px;
">Os Ingressos desta oferta são referentes a Festa Óscar;</p>
<p style="
    margin: 5px 0px;
">É obrigatório a apresentação do ingresso/voucher impresso ou em forma digital (ou aplicativo Ingresse), juntamente com o DOCUMENTO OFICIAL COM FOTO para a entrada no evento;</p>
<p style="
    margin: 5px 0px;
">O ingresso é individual e intransferível;</p>
<p style="
    margin: 5px 0px;
">O não comparecimento ao evento invalidará o ingresso/voucher e não permitirá reembolso;</p>
<p style="
    margin: 5px 0px;
">Solicitações de estorno/cancelamento deverão ser efetuadas em até 7 dias após a compra e desde que seja antes de 48 horas do evento, conforme Código de Defesa do Consumidor art49;</p>
<p style="
    margin: 5px 0px;
">A Ingresse não é responsável pela organização do evento, somente pela venda dos ingressos. Alterações na data, horário e local do evento são de responsabilidade do organizador.</p></td>
          </tr>
          <tr>
            <td width="44" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="44" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="7" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="7" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="46" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="46" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="66" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="66" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="44" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="44" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="33" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="33" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="35" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="35" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="13" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="13" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="16" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="16" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="21" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="21" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="22" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="22" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="16" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="16" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="42" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="42" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="37" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="37" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="49" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="49" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="109" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="109" height="1" alt="" title="" style="display:block; border:0px"></td>
            <td width="50" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images-invite/spacer.gif" width="50" height="1" alt="" title="" style="display:block; border:0px"></td>
          </tr>
        </tbody></table>

      </td>
      <td></td>
    </tr>
  </table>
</body>
</html>