<html>
<head>
<title>Óscar Party</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="
    background-color: #15141A;
"><table width="100%">
  <tbody><tr>
    <td></td>
    <td width="650px">
      <table id="Table_01" width="650" height="1775" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td colspan="13" width="650" height="531"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_01.png" width="650" height="531" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td colspan="13" width="650" height="160" style="
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 29px;
    font-weight: 100;
">
  <p>A Óscar é uma festa apenas para convidados.<br>
  Você pode comprar seu ingresso e convidar seus amigos<br>
  depois de realizar sua compra.</p></td>
        </tr>
        <tr>
          <td colspan="3" rowspan="4" width="44" height="241"></td>
          <td colspan="9" width="563" height="76" style="
    text-align: center;
    font-family: sans-serif;
">
  <p style="
    color: #FFDE5F;
    margin: 0;
    font-size: 30px;
    line-height: 50px;
">11 de Junho</p>
  <p style="
    color: white;
    margin: 0;
">Estância JC</p>
</td>
          <td rowspan="4" width="43" height="241"></td>
        </tr>
        <tr>
          <td colspan="9" width="563" height="48"></td>
        </tr>

        <?php echo $this->fetch('content'); ?>

        <tr>
          <td colspan="13" width="650" height="139"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_17.png" width="650" height="139" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td colspan="13" width="650" height="32"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_18.jpg" width="650" height="32" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td colspan="4" width="199" height="40"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_19.jpg" width="199" height="40" alt="" title="" style="display:block; border:0px"></td>
          <td colspan="7" width="252" height="40" style="
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
">
  <a href="#" style="
    color: #FFDE5F;
    text-decoration: none;
">wwww.festaoscar.com.br</a>
</td>
          <td colspan="2" width="199" height="40"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_21.jpg" width="199" height="40" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td colspan="13" width="650" height="31"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_22.png" width="650" height="31" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td colspan="13" width="650" height="39"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_23.jpg" width="650" height="39" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td colspan="5" width="240" height="42"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_24.jpg" width="240" height="42" alt="" title="" style="display:block; border:0px"></td>
          <td width="48" height="42">
            <a href="https://www.facebook.com/oscartoparty/">
              <img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_25.png" width="48" height="42" alt="" title="" style="display:block; border:0px">
            </a>
          </td>
          <td colspan="3" width="70" height="42">
            <a href="https://www.instagram.com/oscartoparty/">
              <img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_26.png" width="70" height="42" alt="" title="" style="display:block; border:0px">
            </a>
          </td>
          <td width="53" height="42">
            <a href="https://www.youtube.com/channel/UCPZTi4jFJAknF1_EdZDP1dw">
              <img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_27.png" width="53" height="42" alt="" title="" style="display:block; border:0px">
            </a>
          </td>
          <td colspan="3" width="239" height="42"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_28.jpg" width="239" height="42" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td colspan="13" width="650" height="224"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/newsletter_29.png" width="650" height="224" alt="" title="" style="display:block; border:0px"></td>
        </tr>
        <tr>
          <td width="34" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="34" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="1" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="1" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="9" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="9" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="155" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="155" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="41" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="41" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="48" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="48" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="46" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="46" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="3" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="3" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="21" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="21" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="53" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="53" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="40" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="40" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="156" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="156" height="1" alt="" title="" style="display:block; border:0px"></td>
          <td width="43" height="1"><img src="http://www.festaoscar.com.br/img/mailing-invite/images/spacer.gif" width="43" height="1" alt="" title="" style="display:block; border:0px"></td>
        </tr>
      </tbody></table>
    </td>
    <td></td>
  </tr>
</tbody></table></body></html>
