body {
  margin: 0px;
  font-family: Lato;
  color: #2D2D2D; }

#content {
  position: relative; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.round-button {
  color: #008bc0;
  border: 0px;
  background: none;
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  cursor: pointer; }

.headlight {
  text-align: left;
  overflow: auto;
  border-bottom: 5px solid #00A5DB; }
  .headlight .main-title {
    margin: 27px 0px 0px 0px;
    font-size: 40px;
    padding: 0px; }
  .headlight .sub-title {
    font-size: 22px;
    text-align: left;
    padding: 0px;
    margin: 0px; }
  .headlight .poster {
    margin-top: 0px;
    height: 140px;
    float: left;
    margin-right: 20px; }
  .headlight .logo-ingresse {
    position: absolute;
    top: 55px;
    right: 30px;
    height: 30px; }

.sub-title {
  font-size: 28px;
  text-align: center; }

.about {
  margin: 80px; }

.calendar-holder .sub-title {
  margin-bottom: 0; }
.calendar-holder .calendar {
  padding: 0 50px; }

.cal-month-day {
  background-color: #D4D7D9;
  opacity: 0.7; }
  .cal-month-day .pull-right {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #666666;
    opacity: 1; }

.cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"] {
  border-right: none; }

.cal-month-day.isCellOpen {
  opacity: 1;
  background: #FCA311 !important; }

.cal-month-day.hasEvent {
  background-color: #008bc0; }
  .cal-month-day.hasEvent .pull-right {
    color: #FFFFFF;
    opacity: 1; }

.cal-year-box .row, .cal-month-box .cal-row-fluid {
  border-bottom: none;
  margin-left: 0px;
  margin-right: 0px; }

.cal-row-head [class*="cal-cell"]:first-child,
.cal-row-head [class*="cal-cell"] {
  background: #FFFFFF;
  color: #333333; }

.cal-slide-content {
  background-color: #FFF;
  border-top: 1px solid #EFEFEF;
  box-shadow: none;
  border-bottom: 1px solid #EFEFEF;
  border-right: 1px solid #DAD9D9; }
  .cal-slide-content .list-unstyled {
    margin: 0 0 0 20px;
    padding: 0; }
    .cal-slide-content .list-unstyled li {
      display: block;
      font-size: 13px;
      line-height: 16px;
      margin: 15px 0px; }
      .cal-slide-content .list-unstyled li .pull-left {
        float: left; }
      .cal-slide-content .list-unstyled li .event-item {
        text-decoration: none;
        display: inline-block;
        margin-top: 3px;
        color: #FCA311; }
      .cal-slide-content .list-unstyled li .event-info {
        background-color: #FCA311;
        box-shadow: none; }
      .cal-slide-content .list-unstyled li .event-item:hover {
        text-decoration: underline; }

#overlay {
  background: #000000;
  position: fixed;
  display: none;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0; }

.modal.sender {
  margin: 0 0 0 -250px;
  top: 5%; }

.modal {
  margin: -65px 0 0 -250px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 15px 20px;
  position: fixed;
  display: none;
  width: 500px;
  z-index: 10;
  left: 50%;
  top: 50%;
  overflow: auto; }
  .modal .button {
    width: 100%; }
  .modal label {
    text-align: left;
    display: block !important; }
  .modal .modal-header {
    padding: 5px 5px 0;
    outline: none;
    height: 20px; }
    .modal .modal-header .text {
      line-height: 12px;
      font-size: 17px;
      color: #666666;
      float: left; }
    .modal .modal-header .close {
      background: url(../images/modal-close.png) 0 0 no-repeat;
      display: inline-block;
      text-indent: -9999px;
      cursor: pointer;
      font-size: 0;
      float: right;
      border: 0;
      height: 13px;
      width: 13px; }
  .modal .modal-content {
    padding: 0 10px;
    text-align: center; }
    .modal .modal-content .field, .modal .modal-content .send {
      display: none; }
    .modal .modal-content .field.isActive, .modal .modal-content .send.isActive {
      display: block; }
    .modal .modal-content form {
      padding-top: 25px; }
    .modal .modal-content .send .texto {
      margin-top: 15px;
      color: #555555; }
    .modal .modal-content .warning {
      margin-top: 20px;
      text-align: left;
      font-size: 13px;
      display: block;
      color: #bd0303; }
    .modal .modal-content .bt-modal {
      text-transform: uppercase;
      background: #00a5db;
      border-radius: 5px;
      padding: 5px 15px;
      margin-top: 10px;
      color: #FFFFFF;
      border: 0; }
    .modal .modal-content .image-warning {
      float: left;
      margin-right: 6px;
      height: 20px; }

.months {
  margin-bottom: 10px;
  text-align: center; }
  .months * {
    display: inline-block;
    margin-right: 10px; }
  .months .section-title {
    width: 150px; }
  .months .button {
    width: 130px; }

.venue {
  padding-bottom: 70px;
  text-align: center;
  margin-top: 60px; }
  .venue .sub-title {
    text-transform: uppercase;
    font-size: 17px; }
  .venue .map {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: center; }

.activity-indicator {
  text-align: center;
  margin-top: 50%;
  font-size: 10px;
  color: #CCC; }

.error-block {
  text-align: justify;
  margin: 120px auto;
  font-size: 18px;
  max-width: 500px; }

.header-full {
  background: url(../images/pattern-bg.jpg) top repeat;
  margin-bottom: 40px;
  text-align: center;
  height: 175px;
  width: 100%; }
  .header-full .image-header-full {
    height: 100%; }

.details {
  margin: 0 auto 60px;
  width: 545px; }
  .details ul {
    margin: 0;
    font-size: 13px;
    padding-left: 15px; }
  .details .row {
    margin-bottom: 40px; }
  .details .info-01 {
    margin-bottom: 40px; }
    .details .info-01 .row {
      margin-bottom: 15px; }
  .details .image-holder {
    text-align: center;
    float: left;
    width: 53px; }
  .details .content {
    width: 80%;
    float: left; }
    .details .content strong {
      font-weight: 900; }
    .details .content .title, .details .content .sub-title {
      text-transform: uppercase;
      text-align: left;
      display: block;
      padding-bottom: 0; }
    .details .content .title {
      font-weight: 900;
      font-size: 16px; }
    .details .content .sub-title {
      margin: 20px 0 5px;
      font-weight: 900;
      font-size: 13px; }
    .details .content .image-warning {
      margin-right: 10px;
      margin-top: 3px;
      float: left; }
    .details .content .center-cpf {
      margin: 20px auto;
      font-weight: 700;
      display: block; }
    .details .content .bt-warning {
      text-transform: uppercase;
      background: #fca311;
      padding: 10px 15px;
      border-radius: 5px;
      font-weight: 700;
      margin-top: 5px;
      font-size: 13px;
      color: #FFFFFF;
      border: 0; }
    .details .content .text {
      margin-bottom: 5px;
      font-size: 13px;
      margin: 0; }
      .details .content .text .block {
        text-transform: uppercase;
        margin-top: 15px;
        display: block; }
      .details .content .text .warning {
        font-weight: 700;
        color: #bd0303; }
      .details .content .text .blue {
        color: #00a5db; }

.float-helper {
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8%;
  bottom: 5px;
  right: 340px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .headlight {
    text-align: left; }
    .headlight .poster {
      margin-bottom: 10px;
      float: none;
      display: block;
      width: 100%;
      height: auto; }
    .headlight .main-title {
      font-size: 2em; }
    .headlight .sub-title {
      font-size: 1.4em;
      text-align: center;
      margin-bottom: 10px; }
    .headlight .logo-ingresse {
      top: 10px;
      left: 10px;
      right: initial;
      height: 30px; }

  .error-block {
    text-align: justify;
    margin: 40px auto;
    font-size: 18px;
    max-width: 250px; }

  .sub-title {
    font-size: 20px;
    padding: 0 15px; }

  .calendar {
    padding: 0;
    margin-left: 0; }
    .calendar .calendar {
      padding: 0 10px; }

  .cal-row-head [class*="cal-cell"]:first-child, .cal-row-head [class*="cal-cell"] {
    font-size: 14px; }

  .modal.sender {
    margin: 0 5%;
    top: 5%; }

  .modal {
    margin: 0 5%;
    width: 90%;
    left: 0; }

  .details {
    width: 100%; }

  .headlight {
    margin-bottom: 30px; }

  .header-full,
  .float-helper {
    display: none; } }
