/* line 4, ../scss/fausto.scss */
.content .container .row.audioguia p.subtitle {
  margin-bottom: 30px;
}

/* line 11, ../scss/fausto.scss */
.tickets-container {
  background-size: 100% 100%;
  padding-top: 15px;
  padding-bottom: 25px;
  background: #e8e8e8;
}
/* line 18, ../scss/fausto.scss */
.tickets-container h3,
.tickets-container p,
.tickets-container div {
  color: #000;
  text-align: center;
}
/* line 25, ../scss/fausto.scss */
.tickets-container .half-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
/* line 30, ../scss/fausto.scss */
.tickets-container .half-wrapper span.label {
  font-size: 30px;
  font-family: "StagBold";
  letter-spacing: 2px;
}
/* line 36, ../scss/fausto.scss */
.tickets-container .half-wrapper span.valor {
  font-size: 26px;
  font-family: "SourceSansProSemibold";
}
/* line 42, ../scss/fausto.scss */
.tickets-container .col-12 hr {
  width: 85%;
  border: 1px solid rgba(255, 255, 255, 0.28);
}
/* line 47, ../scss/fausto.scss */
.tickets-container small {
  font-size: 16px;
  font-family: "SourceSansProSemibold";
  display: block;
  margin: 0 0 50px 0;
}
/* line 54, ../scss/fausto.scss */
.tickets-container p {
  margin: 0;
  font-family: 'SourceSansProSemibold';
}

/* line 61, ../scss/fausto.scss */
.wrapper.btn-comprar {
  margin: 50px auto;
}
/* line 65, ../scss/fausto.scss */
.wrapper.btn-comprar .col-4 {
  text-align: center;
  padding: 0;
}
/* line 68, ../scss/fausto.scss */
.wrapper.btn-comprar .col-4 hr {
  border: 1px solid rgba(204, 204, 204, 0.5);
  margin-top: 70px;
  width: 90%;
}
/* line 74, ../scss/fausto.scss */
.wrapper.btn-comprar .col-4 .bt-ingressos {
  position: relative;
  width: 230px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../images/bg_lego_blue.png);
}
/* line 81, ../scss/fausto.scss */
.wrapper.btn-comprar .col-4 .bt-ingressos a.btn {
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 50px 10px 45px 10px;
  font-family: "StagBold";
  font-size: 20px;
  letter-spacing: 2px;
}

/* line 95, ../scss/fausto.scss */
.row.social {
  background-image: url("../images/bg_block.jpg");
  padding: 20px 0;
}
/* line 99, ../scss/fausto.scss */
.row.social h2 {
  color: #fff;
  font-size: 30px;
}
/* line 104, ../scss/fausto.scss */
.row.social .col.col-6 {
  text-align: center;
}
/* line 107, ../scss/fausto.scss */
.row.social .col.col-6 p {
  text-align: center;
}
/* line 109, ../scss/fausto.scss */
.row.social .col.col-6 p a {
  font-family: "StagBold";
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
}
/* line 119, ../scss/fausto.scss */
.row.social .col.col-6 img {
  width: 80%;
  height: auto;
  border: 1px solid #fff;
  padding: 5px;
}

/* line 128, ../scss/fausto.scss */
.row
.gradient-bg {
  position: relative;
  width: 95%;
  height: 1px;
  margin: 15px auto 15px auto;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 18%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 62%, rgba(255, 255, 255, 0.5) 72%, rgba(255, 255, 255, 0.5) 82%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(18%, rgba(255, 255, 255, 0.5)), color-stop(30%, rgba(255, 255, 255, 0.5)), color-stop(40%, rgba(255, 255, 255, 0.5)), color-stop(52%, rgba(255, 255, 255, 0.5)), color-stop(62%, rgba(255, 255, 255, 0.5)), color-stop(72%, rgba(255, 255, 255, 0.5)), color-stop(82%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 18%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 62%, rgba(255, 255, 255, 0.5) 72%, rgba(255, 255, 255, 0.5) 82%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 18%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 62%, rgba(255, 255, 255, 0.5) 72%, rgba(255, 255, 255, 0.5) 82%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 18%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 62%, rgba(255, 255, 255, 0.5) 72%, rgba(255, 255, 255, 0.5) 82%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 18%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.5) 62%, rgba(255, 255, 255, 0.5) 72%, rgba(255, 255, 255, 0.5) 82%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

/* line 146, ../scss/fausto.scss */
#toggle {
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 3;
  display: none;
}
/* line 154, ../scss/fausto.scss */
#toggle ul li {
  list-style: none;
  background-color: #000;
  width: 30px;
  height: 5px;
  margin: 5px 0;
  border-radius: 100px;
}

/* line 165, ../scss/fausto.scss */
div#banner-mobile {
  display: none;
  margin-top: 120px;
  text-align: center;
  margin-bottom: 50px;
}
/* line 172, ../scss/fausto.scss */
div#banner-mobile img {
  margin: 0 auto;
}

/* line 179, ../scss/fausto.scss */
nav#menu a:hover {
  color: #bdbdbd;
}

@media only screen and (max-width: 1023px) {
  /* line 188, ../scss/fausto.scss */
  .footer .right {
    padding: 0;
    margin: 0 0 30px 0;
  }
  /* line 193, ../scss/fausto.scss */
  .footer .left {
    padding: 0;
    margin: 0 0 30px 0;
  }

  /* line 201, ../scss/fausto.scss */
  .apoio ul {
    text-align: center !important;
  }

  /* line 207, ../scss/fausto.scss */
  .patrocinio ul {
    text-align: center !important;
  }

  /* line 213, ../scss/fausto.scss */
  .wrapper.btn-comprar hr {
    display: none;
  }
  /* line 217, ../scss/fausto.scss */
  .wrapper.btn-comprar .col-4 {
    width: 100%;
  }

  /* line 222, ../scss/fausto.scss */
  .row, .divisao {
    margin: 0 !important;
  }

  /* line 226, ../scss/fausto.scss */
  .col {
    float: none;
    width: 95%;
    margin: 0 auto !important;
    padding: 10px !important;
  }

  /* line 233, ../scss/fausto.scss */
  p {
    font-size: 16px;
  }

  /* line 237, ../scss/fausto.scss */
  p.subtitle {
    font-size: 20px;
  }

  /* line 241, ../scss/fausto.scss */
  h3, h2 {
    margin: 0 !important;
  }

  /* line 245, ../scss/fausto.scss */
  h2 {
    font-size: 24px;
  }

  /* line 249, ../scss/fausto.scss */
  h3 {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
  }

  /* line 255, ../scss/fausto.scss */
  img {
    width: 70%;
  }

  /* line 259, ../scss/fausto.scss */
  iframe {
    width: 95%;
    height: auto;
  }

  /* line 265, ../scss/fausto.scss */
  .row.infos h2 {
    padding: 15px 0;
    font-size: 24px;
  }
  /* line 270, ../scss/fausto.scss */
  .row.infos p {
    font-size: 20px;
  }

  /* line 276, ../scss/fausto.scss */
  .row.social h2 {
    padding: 15px 0;
    font-size: 24px;
  }

  /* line 283, ../scss/fausto.scss */
  .row.audioguia p.subtitle {
    margin: 15px 0;
  }

  /* line 290, ../scss/fausto.scss */
  .footer ul {
    display: table;
    margin: 0 auto;
  }
  /* line 294, ../scss/fausto.scss */
  .footer ul li {
    width: auto !important;
    display: block;
  }
  /* line 300, ../scss/fausto.scss */
  .footer .left {
    float: none;
    width: 100%;
  }
  /* line 304, ../scss/fausto.scss */
  .footer .left p {
    text-align: center;
  }
  /* line 309, ../scss/fausto.scss */
  .footer .right {
    float: none;
    width: 100%;
  }
  /* line 313, ../scss/fausto.scss */
  .footer .right p {
    text-align: center;
  }

  /* line 320, ../scss/fausto.scss */
  .tickets-container p {
    margin: 0 !important;
  }
  /* line 324, ../scss/fausto.scss */
  .tickets-container small {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 850px) {
  /* line 332, ../scss/fausto.scss */
  h1#logo {
    width: 85% !important;
  }

  /* line 334, ../scss/fausto.scss */
  #toggle {
    display: block;
  }

  /* line 336, ../scss/fausto.scss */
  nav#menu {
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
    height: 100%;
    display: none;
  }
  /* line 344, ../scss/fausto.scss */
  nav#menu ul {
    background-color: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.4);
  }
  /* line 352, ../scss/fausto.scss */
  nav#menu ul li {
    display: block !important;
    margin: 15px;
  }
  /* line 356, ../scss/fausto.scss */
  nav#menu ul li a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 365, ../scss/fausto.scss */
  div#banner {
    display: none;
  }

  /* line 369, ../scss/fausto.scss */
  div#banner-mobile {
    display: block;
  }
  /* line 372, ../scss/fausto.scss */
  div#banner-mobile img {
    width: 100%;
  }

  /* line 377, ../scss/fausto.scss */
  .bt-compre-ingresso {
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    width: 310px;
    height: 96px;
    left: 0px;
  }
  /* line 385, ../scss/fausto.scss */
  .bt-compre-ingresso a {
    font-size: 22px;
    padding-top: 0px;
  }
}
