.row, 
.column {
    box-sizing: border-box;
    margin: 5px 0;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col{
    box-sizing: border-box;
}

 .col-1 {
  width: 6.86666666667%;
}
 
.col-2 {
  width: 15.3333333333%;
}
 
.col-3 {
  width: 25%;
}
 
.col-4 {
  width: 32.2666666667%;
}
 
.col-5 {
  width: 40.7333333333%;
}
 
.col-6 {
  width: 50%;
}
 
.col-7 {
  width: 57.6666666667%;
}


 
.col-8 {
  width: 66.1333333333%;
}
 
.col-9 {
  width: 74.6%;
}
 
.col-10 {
  width: 83.0666666667%;
}
 
.col-11 {
  width: 91.5333333333%;
}
 
.col-12 {
  width: 100%;
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  float: left;
}

.col img { width: 100% }

.col + .col { margin-left: 1.6% }

@media only screen and (max-width: 1023px){
  .col {
    float: none;
  }
}

@media only screen and (max-width: 550px) {
    .row {
        margin-bottom: 0;
    }
    .column {
        margin-bottom: 10px;
    }
    .row:last-child .column:last-child {
        margin-bottom: 0;
    }
}