.titulo h1{
  color: #C1453B;
  font-size: 55px;
  text-align: center;
  margin-bottom: 60px;
  float: none;
  font-family: "LeagueGothicRegular";
}
.linha1{
  border: 2px solid #C1453B;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 35px;
}
.linha1 p{
  font-size: 17px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 5px;
}
.coluna1{
  border: 2px solid #C1453B;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  margin-bottom: 35px;
  margin-right: 0px;
}
@media (min-width: 415px) {
  .coluna1{
    margin-right: 40px;
  }
}

.coluna2{
  border: 2px solid #688AB0;
}

@media (min-width: 768px) {
.coluna2{
  border: 2px solid #688AB0;
  padding: 10px;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  font-size: 17px;
  }
  .coluna1{
    margin-right: 40px;
  }
}

.coluna1 li{
  list-style-type: none;
}
.coluna1 li p{
  list-style-type: none;
  padding-left: -15px;
}
.coluna1 p{
  font-size: 17px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 5px;
}
.coluna2 p{
  font-size: 17px;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.col-md-5half{
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
.col-md-5half{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-5half{
    float: left;
    width: 36%;
  }
}

@media (min-width: 865px) {
  .col-sm-offset-1half{
    margin-left: 10%;
  }
}

h3{
  font-family: "StagBold";
}

.btn-ingresso{
  width: 91%;
  position: absolute;
  left: 50%;
  margin-left: -224px;
  top: 50%;
  margin-top: -68px;
}
@media (max-width: 414px) {
  .btn-ingresso{
    margin-left: -179px;
    top: 50%;
    margin-top: -68px;
  }
}
