@import url("../fonts/LeagueGothicRegular.css");
@import url("../fonts/StagBold.css");
@import url("../fonts/SourceSansProSemibold.css");
/* line 104, ../images/icons/*.png */
.icons-sprite, .icons-contact, .icons-estacionamento, .icons-facebook, .icons-insta, .icons-insta_2, .icons-metro, .icons-onibus, .icons-pin {
  background-image: url('../images/../images/icons-s98c0e39e1c.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-contact {
  background-position: 0 0;
  height: 40px;
  width: 56px;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-estacionamento {
  background-position: 0 -60px;
  height: 40px;
  width: 56px;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -120px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-insta {
  background-position: 0 -186px;
  height: 128px;
  width: 128px;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-insta_2 {
  background-position: 0 -334px;
  height: 128px;
  width: 128px;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-metro {
  background-position: 0 -482px;
  height: 40px;
  width: 56px;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-onibus {
  background-position: 0 -542px;
  height: 40px;
  width: 56px;
}

/* line 84, ../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pin {
  background-position: 0 -602px;
  height: 30px;
  width: 21px;
}

/* line 7, ../scss/_sprites.sass */
.icons-sprite, .icons-contact, .icons-estacionamento, .icons-facebook, .icons-insta, .icons-insta_2, .icons-metro, .icons-onibus, .icons-pin {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 7, ../scss/landpage.scss */
body, html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 13, ../scss/landpage.scss */
.container {
  width: 95%;
  max-width: 1700px;
  margin: 0 auto;
}

/* line 19, ../scss/landpage.scss */
.content > .container > .row {
  margin: 0 0 50px;
}

/* line 23, ../scss/landpage.scss */
.row {
  margin: 0;
}

/* line 27, ../scss/landpage.scss */
.col + .col {
  box-sizing: border-box;
  margin: 0;
}

/* line 33, ../scss/landpage.scss */
.col:nth-child(1n) {
  padding-right: 25px;
}
/* line 36, ../scss/landpage.scss */
.col:nth-child(2n) {
  padding-left: 25px;
  padding-right: 0;
}
/* line 40, ../scss/landpage.scss */
.col:nth-child(3n) {
  padding-left: 25px;
  padding-right: 0;
}
/* line 44, ../scss/landpage.scss */
.col.col-12 {
  padding: 0;
}

/* line 49, ../scss/landpage.scss */
.wrapper {
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0px 0;
}

/* line 56, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets .border-l {
  border-left: 1px solid rgba(255, 255, 255, 0.32);
  padding-left: 25px;
}

/* line 61, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

/* line 69, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets p span.subtitle {
  font-size: 28px;
}

/* line 73, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets p small {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

/* line 78, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets p span.bold {
  font-family: "StagBold";
  letter-spacing: 1px;
}

/* line 83, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets p span.subtitle {
  font-size: 28px;
}

/* line 87, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets ul.info-list {
  padding: 0 0 0 15px;
}

/* line 91, ../scss/landpage.scss */
div.tickets-container.wrapper.tickets ul.info-list li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

/* line 99, ../scss/landpage.scss */
.tickets-container small {
  font-size: 16px;
  font-family: "SourceSansProSemibold";
  display: block;
  margin: 0 0 30px 0;
}

/* line 106, ../scss/landpage.scss */
.tickets-container p {
  margin: 0;
  font-family: 'SourceSansProSemibold';
}

/* line 111, ../scss/landpage.scss */
header.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  height: 120px;
}
/* line 123, ../scss/landpage.scss */
header.header #logo {
  width: 33%;
  max-width: 500px;
}
/* line 127, ../scss/landpage.scss */
header.header #logo img {
  width: 100%;
}

/* line 133, ../scss/landpage.scss */
h1 {
  float: left;
}

/* line 137, ../scss/landpage.scss */
h2 {
  font-size: 3.7vw;
  word-spacing: 1.4vw;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 1600px) {
  /* line 137, ../scss/landpage.scss */
  h2 {
    font-size: 60px;
    word-spacing: 23px;
  }
}

/* line 149, ../scss/landpage.scss */
h3 {
  font-size: 2vw;
  text-align: justify;
  word-spacing: 1vw;
  line-height: 45px;
  margin: 0 !important;
}
@media only screen and (min-width: 1600px) {
  /* line 149, ../scss/landpage.scss */
  h3 {
    font-size: 32px;
    word-spacing: 5px;
  }
}

/* line 162, ../scss/landpage.scss */
h2, h3 {
  font-family: "StagBold";
  margin: 30px 0;
  letter-spacing: 2px;
}

/* line 168, ../scss/landpage.scss */
p {
  font-size: 1.2vw;
  font-family: "SourceSansProSemibold";
  text-align: justify;
}
/* line 173, ../scss/landpage.scss */
p.subtitle {
  font-family: "SourceSansProSemibold";
  font-size: 2.2vw;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 1600px) {
  /* line 168, ../scss/landpage.scss */
  p {
    font-size: 22px;
  }
  /* line 183, ../scss/landpage.scss */
  p.subtitle {
    font-size: 35px;
  }
}

/* line 189, ../scss/landpage.scss */
.row.social .btn-facebook {
  margin-right: 45px;
  display: inline-block;
}

/* line 193, ../scss/landpage.scss */
.row.social .btn-lego {
  position: relative;
  display: inline-block;
  width: 302px;
  height: 87px;
  background-image: url(../images/bg-bt-branco.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 100px;
}

@media (max-width: 768px) {
  /* line 204, ../scss/landpage.scss */
  .row.social .btn-lego {
    margin-left: 20px;
  }

  /* line 207, ../scss/landpage.scss */
  .media-hide {
    display: none;
  }
}
/* line 213, ../scss/landpage.scss */
.no-bg {
  background-image: none !important;
}

/* line 221, ../scss/landpage.scss */
.row.social .btn-facebook .wrap {
  margin-top: 27px;
}

/* line 225, ../scss/landpage.scss */
.wrap img {
  width: 15%;
  float: left;
  margin-left: 40px;
  margin-right: 10px;
}

/* line 233, ../scss/landpage.scss */
nav#menu {
  padding-top: 30px;
}
/* line 236, ../scss/landpage.scss */
nav#menu ul {
  margin-right: 0;
  padding: 0;
  float: right;
}
/* line 241, ../scss/landpage.scss */
nav#menu ul li {
  display: inline-block;
  padding: 0px 15px;
}
/* line 245, ../scss/landpage.scss */
nav#menu ul li a {
  font-family: "LeagueGothicRegular";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.4vw;
  color: #989898;
}
@media only screen and (min-width: 1500px) {
  /* line 261, ../scss/landpage.scss */
  nav#menu ul li a {
    font-size: 38px;
  }
}

/* line 269, ../scss/landpage.scss */
#banner {
  position: relative;
  width: 100%;
  max-width: 1920px;
  max-height: 960px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}
/* line 279, ../scss/landpage.scss */
#banner img {
  width: 100%;
}

/* line 284, ../scss/landpage.scss */
.divisao {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
  background-image: url(../images/division.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  margin-top: -20px;
  margin-bottom: 30px;
}

/* line 297, ../scss/landpage.scss */
.bt-compre-ingresso {
  position: absolute;
  bottom: 75px;
  right: 100px;
  width: 460px;
  height: 76px;
  padding-top: 30px;
  text-align: center;
}
/* line 307, ../scss/landpage.scss */
.bt-compre-ingresso a {
  color: #fff;
  text-decoration: none;
  font-size: 38px;
  font-family: StagBold;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 320, ../scss/landpage.scss */
.text-center {
  text-align: center;
}

/* line 324, ../scss/landpage.scss */
span.lego {
  text-transform: uppercase;
}

/* line 328, ../scss/landpage.scss */
.row.margin {
  margin: 60px 0;
}

/* line 332, ../scss/landpage.scss */
.vcenter {
  display: inline-table;
  vertical-align: middle;
  float: none;
}

@media only screen and (max-width: 1360px) {
  /* line 339, ../scss/landpage.scss */
  .bt-compre-ingresso {
    width: 340px;
    padding: 0px;
    right: 20px;
    bottom: 100px;
    box-sizing: border-box;
  }
  /* line 346, ../scss/landpage.scss */
  .bt-compre-ingresso a {
    font-size: 18px;
    padding-top: 0px;
  }
}
/* line 354, ../scss/landpage.scss */
.comprar img {
  width: 89%;
  float: left;
  margin-top: -50px;
  margin-bottom: 20px;
}

/* line 1, ../scss/_partners.scss */
.partners {
  background: url("../images/partners/bg.jpg") left top repeat;
  padding-top: 15px;
}
/* line 6, ../scss/_partners.scss */
.partners h3 {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 35px !important;
}
/* line 12, ../scss/_partners.scss */
.partners h3:after {
  content: '';
  display: block;
  width: 100%;
  max-width: 320px;
  border-bottom: 1px solid #646464;
  margin: 15px auto 0;
}
/* line 22, ../scss/_partners.scss */
.partners ul {
  max-width: 700px;
  text-align: center;
  padding: 0;
  margin: 0 auto 75px;
}
/* line 28, ../scss/_partners.scss */
.partners ul li {
  display: inline-table;
  vertical-align: middle;
  height: 85px;
  margin: 0 10px;
}
/* line 34, ../scss/_partners.scss */
.partners ul li img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
/* line 44, ../scss/_partners.scss */
.partners .table {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}
/* line 50, ../scss/_partners.scss */
.partners .table .v-align {
  display: table-cell;
  vertical-align: middle;
}
/* line 56, ../scss/_partners.scss */
.partners img {
  width: auto;
  display: block;
}
/* line 63, ../scss/_partners.scss */
.partners .patrocinio ul, .partners .apoio ul {
  text-align: center;
}
/* line 66, ../scss/_partners.scss */
.partners .patrocinio ul li, .partners .apoio ul li {
  max-height: 200px;
  height: auto;
}
/* line 77, ../scss/_partners.scss */
.partners .producao ul li {
  width: calc(50% - 25px);
}
/* line 87, ../scss/_partners.scss */
.partners .patrocinio ul li, .partners .apoio ul li, .partners .realizacao ul li {
  width: calc(33.3333% - 30px);
}
@media only screen and (max-width: 1400px) {
  /* line 94, ../scss/_partners.scss */
  .partners h3 {
    font-size: 26px;
    line-height: 26px;
  }
}

/* line 1, ../scss/_infos.scss */
.row.infos {
  position: relative;
  margin: -5px 0;
  background: url(../images/bg-infos.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px 0;
}
/* line 8, ../scss/_infos.scss */
.row.infos:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 5px;
  left: 4px;
  display: block;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
/* line 21, ../scss/_infos.scss */
.row.infos .container {
  position: relative;
  z-index: 1;
}
/* line 26, ../scss/_infos.scss */
.row.infos h2 {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: StagBold;
  font-size: 2.2vw;
  margin: 0 0 20px;
}
/* line 34, ../scss/_infos.scss */
.row.infos h2:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto 0;
}
@media only screen and (max-width: 1600px) {
  /* line 26, ../scss/_infos.scss */
  .row.infos h2 {
    font-size: 40px;
  }
}
/* line 48, ../scss/_infos.scss */
.row.infos p {
  text-align: center;
  font-family: StagBold;
  font-size: 1.7vw;
  color: #fff;
  margin: 0 0 0;
}
@media only screen and (max-width: 1600px) {
  /* line 48, ../scss/_infos.scss */
  .row.infos p {
    font-size: 30px;
  }
}

/* line 1, ../scss/_footer.scss */
.footer {
  float: left;
  width: 100%;
  background-color: #4d4d4d;
  padding-top: 75px;
  padding-bottom: 60px;
  border-bottom: 40px solid #333333;
}
/* line 9, ../scss/_footer.scss */
.footer .top, .footer .bottom {
  float: left;
  width: 100%;
}
/* line 14, ../scss/_footer.scss */
.footer .left, .footer .right {
  float: left;
  box-sizing: border-box;
}
/* line 19, ../scss/_footer.scss */
.footer .top {
  margin-bottom: 40px;
}
/* line 23, ../scss/_footer.scss */
.footer .left {
  width: 70%;
  padding-right: 20px;
}
/* line 28, ../scss/_footer.scss */
.footer .right {
  width: 30%;
  padding-left: 20px;
}
/* line 33, ../scss/_footer.scss */
.footer h3, .footer p, .footer li, .footer a {
  color: #ffffff;
}
/* line 36, ../scss/_footer.scss */
.footer h3:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto 0;
}
/* line 45, ../scss/_footer.scss */
.footer p, .footer li {
  font-family: SourceSansProSemibold;
}
/* line 49, ../scss/_footer.scss */
.footer ul {
  padding: 0;
  margin: 0;
}
/* line 53, ../scss/_footer.scss */
.footer ul li {
  display: inline-table;
  vertical-align: top;
  width: 100%;
}
/* line 61, ../scss/_footer.scss */
.footer p, .footer ul {
  margin-bottom: 20px;
}
/* line 67, ../scss/_footer.scss */
.footer h3 span {
  display: inline-table;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 72, ../scss/_footer.scss */
.footer h3 span.text {
  font-size: 30px;
  line-height: 30px;
  margin-right: 0;
}
/* line 80, ../scss/_footer.scss */
.footer p {
  font-size: 18px;
}
/* line 84, ../scss/_footer.scss */
.footer p.mini, .footer li {
  font-size: 14px;
}
/* line 88, ../scss/_footer.scss */
.footer a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/* line 96, ../scss/_footer.scss */
.footer a:hover {
  border-bottom-color: #ffffff;
}
