@import url("../fonts/LeagueGothicRegular.css");
@import url("../fonts/StagBold.css");
@import url("../fonts/SourceSansProSemibold.css");
/* line 66, ../images/icons/*.png */
.icons-sprite, .icons-contact, .icons-estacionamento, .icons-metro, .icons-onibus {
  background: url('../images/../images/icons-s00e6883d02.png') no-repeat;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-contact {
  background-position: 0 -60px;
  height: 40px;
  width: 56px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-estacionamento {
  background-position: 0 0;
  height: 40px;
  width: 56px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-metro {
  background-position: 0 -120px;
  height: 40px;
  width: 56px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-onibus {
  background-position: 0 -180px;
  height: 40px;
  width: 56px;
}

/* line 7, ../scss/_sprites.sass */
.icons-sprite, .icons-contact, .icons-estacionamento, .icons-metro, .icons-onibus {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 7, ../scss/landpage (1).scss */
body, html {
  margin: 0px;
  padding: 0px;
}

/* line 12, ../scss/landpage (1).scss */
.container {
  width: 95%;
  max-width: 1700px;
  margin: 0 auto;
}

/* line 18, ../scss/landpage (1).scss */
.content > .container > .row {
  margin: 0 0 50px;
}

/* line 22, ../scss/landpage (1).scss */
.row {
  margin: 0;
}

/* line 26, ../scss/landpage (1).scss */
.col + .col {
  box-sizing: border-box;
  padding: 0 0.8%;
  margin: 0;
}

/* line 32, ../scss/landpage (1).scss */
.wrapper {
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0px 0;
}

/* line 39, ../scss/landpage (1).scss */
header.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.4);
  height: 120px;
}
/* line 51, ../scss/landpage (1).scss */
header.header #logo {
  width: 33%;
  max-width: 500px;
}
/* line 55, ../scss/landpage (1).scss */
header.header #logo img {
  width: 100%;
}

/* line 61, ../scss/landpage (1).scss */
h1 {
  float: left;
}

/* line 65, ../scss/landpage (1).scss */
h2 {
  font-size: 3.7vw;
  word-spacing: 1.4vw;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 1600px) {
  /* line 65, ../scss/landpage (1).scss */
  h2 {
    font-size: 60px;
    word-spacing: 23px;
  }
}

/* line 77, ../scss/landpage (1).scss */
h3 {
  font-size: 2vw;
  text-align: justify;
  word-spacing: 1vw;
  line-height: 45px;
  margin: 0 !important;
}
@media only screen and (min-width: 1600px) {
  /* line 77, ../scss/landpage (1).scss */
  h3 {
    font-size: 32px;
    word-spacing: 5px;
  }
}

/* line 90, ../scss/landpage (1).scss */
h2, h3 {
  font-family: "StagBold";
  margin: 30px 0;
}

/* line 95, ../scss/landpage (1).scss */
p {
  font-size: 1.2vw;
  font-family: "SourceSansProSemibold";
  text-align: justify;
}
/* line 100, ../scss/landpage (1).scss */
p.subtitle {
  font-family: "SourceSansProSemibold";
  font-size: 2.2vw;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 1600px) {
  /* line 95, ../scss/landpage (1).scss */
  p {
    font-size: 22px;
  }
  /* line 110, ../scss/landpage (1).scss */
  p.subtitle {
    font-size: 35px;
  }
}

/* line 116, ../scss/landpage (1).scss */
nav#menu {
  padding-top: 30px;
}
/* line 119, ../scss/landpage (1).scss */
nav#menu ul {
  margin-right: 0;
  padding: 0;
  float: right;
}
/* line 124, ../scss/landpage (1).scss */
nav#menu ul li {
  display: inline-block;
  padding: 0px 15px;
}
/* line 128, ../scss/landpage (1).scss */
nav#menu ul li a {
  font-family: "LeagueGothicRegular";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.4vw;
  color: #989898;
}
@media only screen and (min-width: 1500px) {
  /* line 144, ../scss/landpage (1).scss */
  nav#menu ul li a {
    font-size: 38px;
  }
}

/* line 152, ../scss/landpage (1).scss */
#banner {
  position: relative;
  width: 100%;
  max-width: 1920px;
  max-height: 960px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}
/* line 162, ../scss/landpage (1).scss */
#banner img {
  width: 100%;
}

/* line 167, ../scss/landpage (1).scss */
.divisao {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
  background-image: url(../images/division.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  margin-top: -20px;
  margin-bottom: 30px;
}

/* line 180, ../scss/landpage (1).scss */
.bt-compre-ingresso {
  position: absolute;
  bottom: 75px;
  right: 100px;
  width: 460px;
  height: 76px;
  padding-top: 60px;
  text-align: center;
  background-image: url(../images/bg_lego_blue.png);
}
/* line 190, ../scss/landpage (1).scss */
.bt-compre-ingresso a {
  color: #fff;
  text-decoration: none;
  font-size: 38px;
  font-family: StagBold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 202, ../scss/landpage (1).scss */
.text-center {
  text-align: center;
}

/* line 206, ../scss/landpage (1).scss */
span.lego {
  text-transform: uppercase;
}

/* line 210, ../scss/landpage (1).scss */
.row.margin {
  margin: 60px 0;
}

/* line 214, ../scss/landpage (1).scss */
.vcenter {
  display: inline-table;
  vertical-align: middle;
  float: none;
}

/* line 1, ../scss/_partners.scss */
.partners {
  background: url("../images/partners/bg.jpg") left top repeat;
  padding-top: 95px;
}
/* line 5, ../scss/_partners.scss */
.partners h3 {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 35px !important;
}
/* line 11, ../scss/_partners.scss */
.partners h3:after {
  content: '';
  display: block;
  width: 100%;
  max-width: 320px;
  border-bottom: 1px solid #646464;
  margin: 15px auto 0;
}
/* line 21, ../scss/_partners.scss */
.partners ul {
  max-width: 700px;
  text-align: center;
  padding: 0;
  margin: 0 auto 75px;
}
/* line 27, ../scss/_partners.scss */
.partners ul li {
  display: inline-table;
  vertical-align: middle;
  height: 85px;
  margin: 0 10px;
}
/* line 33, ../scss/_partners.scss */
.partners ul li img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
/* line 43, ../scss/_partners.scss */
.partners .table {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}
/* line 49, ../scss/_partners.scss */
.partners .table .v-align {
  display: table-cell;
  vertical-align: middle;
}
/* line 55, ../scss/_partners.scss */
.partners img {
  width: auto;
  display: block;
}
/* line 62, ../scss/_partners.scss */
.partners .patrocinio ul, .partners .apoio ul {
  text-align: left;
}
/* line 65, ../scss/_partners.scss */
.partners .patrocinio ul li, .partners .apoio ul li {
  max-height: 200px;
  height: 19vw;
}
/* line 76, ../scss/_partners.scss */
.partners .producao ul li {
  width: calc(50% - 25px);
}
/* line 86, ../scss/_partners.scss */
.partners .patrocinio ul li, .partners .apoio ul li, .partners .realizacao ul li {
  width: calc(33.3333% - 30px);
}
@media only screen and (max-width: 1400px) {
  /* line 93, ../scss/_partners.scss */
  .partners h3 {
    font-size: 26px;
    line-height: 26px;
  }
}

/* line 1, ../scss/_footer.scss */
.footer {
  float: left;
  width: 100%;
  background-color: #4d4d4d;
  padding-top: 75px;
}
/* line 7, ../scss/_footer.scss */
.footer .top, .footer .bottom {
  float: left;
  width: 100%;
}
/* line 12, ../scss/_footer.scss */
.footer .left, .footer .right {
  float: left;
  box-sizing: border-box;
  padding-left: 40px;
}
/* line 18, ../scss/_footer.scss */
.footer .top {
  margin-bottom: 40px;
}
/* line 22, ../scss/_footer.scss */
.footer .left {
  width: 70%;
}
/* line 26, ../scss/_footer.scss */
.footer .right {
  width: 30%;
}
/* line 30, ../scss/_footer.scss */
.footer h3, .footer p, .footer li, .footer a {
  color: #ffffff;
}
/* line 34, ../scss/_footer.scss */
.footer p, .footer li {
  font-family: SourceSansProSemibold;
}
/* line 38, ../scss/_footer.scss */
.footer ul {
  padding: 0;
  margin: 0;
}
/* line 42, ../scss/_footer.scss */
.footer ul li {
  display: inline-table;
  vertical-align: top;
  width: calc(50% - 25px);
}
/* line 49, ../scss/_footer.scss */
.footer p, .footer ul {
  margin-bottom: 20px;
}
/* line 55, ../scss/_footer.scss */
.footer h3 span {
  display: inline-table;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 60, ../scss/_footer.scss */
.footer h3 span.text {
  font-size: 30px;
  line-height: 30px;
  margin-right: 0;
}
/* line 68, ../scss/_footer.scss */
.footer p {
  font-size: 18px;
}
/* line 72, ../scss/_footer.scss */
.footer p.mini, .footer li {
  font-size: 14px;
}
/* line 76, ../scss/_footer.scss */
.footer a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/* line 84, ../scss/_footer.scss */
.footer a:hover {
  border-bottom-color: #ffffff;
}
